@model IEnumerable<Employee>

<div class="card border-2 border-primary rounded-lg mt-2">
	<div class="d-flex justify-content-between align-items-center p-2">
		<div class="d-flex flex-column align-self-center"><h5>Employees</h5></div>

		<a href="javascript:;" class="btn btn-primary js-render-model" data-title="Add Employee" data-url="/Employees/Create">
			Add Employee
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
				<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
			</svg>
		</a>

	</div>
</div>
<div id="exam" class="dataTables_wrapper dt-bootstrap4 mt-2">
	@if (!Model.Any())
	{
		<div class="alert alert-warning alert-dismissible align-items-center mt-5">
			<h4 class="text-center d-flex align-items-center justify-content-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
					<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
				</svg>
				<span>Alert</span>
			</h4>
			<h5 class="text-center">There is no data in this section</h5>
		</div>
	}
	else
	{
		<div class="row">
			<div class="col-sm-12">
				<table id="dataTable" class="table table-bordered table-striped">
					<thead>
						<tr class="text-center">
							<th>Name</th>
							<th>Job Role</th>
							<th>Gender</th>
							<th>Is First Appointment</th>
							<th>Start Date</th>
							<th>Notes</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var employee in Model)
						{
							<partial name="_EmployeeRow" , model="@employee" />
						}
					</tbody>
				</table>

			</div>
		</div>
	}
</div>
@*start Modal *@
<!-- Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalLabel">
					@*Modal Title will be rendered here*@
				</h5>
				<button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" style="font-size:20px;">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				@*Modal body will be rendered here*@
			</div>

		</div>
	</div>
</div>
@*end Modal*@
@Html.AntiForgeryToken()

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}